body {color: rgb(247, 155, 170); background-color: lavenderblush;
font-family: "Brush Script MT", cursive;}
h1 {color: palevioletred; background-color: lightpink;}
h2 {color: palevioletred}
a {color:lightpink}
