body {color: rgb(247, 155, 170); background-color: lavenderblush;
    font-family: 'Merienda', cursive; }

    h1 {color: palevioletred; background-color: lightpink; font-family: 'Kaushan Script', cursive;}

h2 {color: palevioletred; font-family: 'Kaushan Script', cursive;}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: lightpink;
}

nav a {color: mistyrose;}

nav {color: mistyrose;}

nav a:hover {background-color: thistle;}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}
