body {color: rgb(247, 155, 170); background-color: lavenderblush;
    font-family: 'Merienda', cursive; }
h1 {color: palevioletred; background-color: lightpink; font-family: 'Kaushan Script', cursive;}
h2 {color: palevioletred; font-family: 'Kaushan Script', cursive;}
a {color:lightpink}
